<component name="ArtifactManager">
  <artifact type="war" name="SpringQuartz:war">
    <output-path>$PROJECT_DIR$/SpringQuartz/target</output-path>
    <root id="archive" name="SpringQuartz.war">
      <element id="artifact" artifact-name="SpringQuartz:war exploded" />
    </root>
  </artifact>
</component>